<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Wikis</h1>

      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">Create Wiki</a>
        <hr>
      <% } %>

      <ul class="list-group">

        <% wikis.forEach((wiki) => { %>
          <% if (currentUser) { %>
            <% if (wiki.private == true && ((currentUser.role == 1 && currentUser.id == wiki.userId) || currentUser.role == 2) ) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> - Private </a>
              </li>
            <% } %>
          <% } %>
          <% if (wiki.private == false) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% } %>
        <% }) %>

      </ul>

    </main>
  </body>
</html>
